// styles/element/index.scss
/* 只需要重写你需要的即可 */
@forward "../../../../node_modules/element-plus/theme-chalk/src/common/var" with (
  $colors: (
    'primary': ('base': #3496eb)
  ),
  $main: ('padding': 0)
);


$test-color: #3496eb;